<% content_for :head do %>
  <%= stylesheet_link_tag 'origins/origins_new',
      class: "page-specific",
      controller: controller.controller_name,
      action: controller.action_name %>
<% end %>
<div class="origin-create-sidebar"></div>
<%= react_component("OriginNew", {}, class: "origin-new-content" ) %>
