<% content_for :head, flush: true do %>
  <%= stylesheet_link_tag 'origin_header',
      class: "page-specific",
      controller: controller.controller_name,
      action: controller.action_name %>
<% end %>
<%= react_component("OriginHeader",
                    {originName: params[:title],
                    joined: @subscribed,
                    loggedIn: user_signed_in?,
                    },
                    class: "col-12 origin-header-container secondary-header") %>
<div class="w-100"></div>
<div class="col-sm-1"></div>
<div class="col-sm-8">
  <%= react_component("CreatePostLink",
                      {originTitle: params[:title]},
                      class: "create-post-link") %>
  <%= react_component("PostFeed", {posts: @posts}, class: "postfeed" ) %>
</div>
