$margin-left: 17px;

.header {
  $side-padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 8px $side-padding 5px $side-padding;
  border-bottom: 1px solid $light-gray;
  background-color: $white;

  > * {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}

.logo-container {
  font-weight: 700;
  font-size: 16px;

  .logo {
    @include create-circle(32px);
    background-color: #fe471c;
    margin-bottom: 5px;
  }

  > p {
    align-self: center;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

/* Search bar */

.header-search {
  max-width: 656px;
  width: 100%;
  height: 36px;
  margin-left: $margin-left;
  border: 1px solid $light-gray;
  border-radius: 3px;
  background-color: #f6f7f8;
}

.header-search.logged-in {
  max-width: 234px;
}

.login-container {
  width: 245px;
  margin-left: $margin-left;
}

.login-button,
.signup-button {
  @include center-children();
  @include rounded-corners(32px, $blue, 120px);
  margin-left: $margin-left;
  font-weight: 700;
}

.login-button {
  color: $blue;
}

.signup-button {
  color: $white;
  background-color: $blue;
}

.user-account-modal-wrapper {
  @include center-children();
  @include modal-positioning();
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.parent.user-account-modal {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-basis: 850px;
  height: 650px;
  max-height: 95vh;
  background-color: $white;
}

.user-account-modal.exit-button {
  $size: 20px;
  $position: 15px;
  position: absolute;
  top: $position;
  right: $position - 10px;
  width: $size;
  height: $size;
}
