.subscriptions-menu {
  @include rounded-border(5px, $white);
  position: relative;
  align-self: flex-start;
  flex-flow: column nowrap;
  width: 270px;
  z-index: 20;
  background-color: $white;

  > *:not(:first-child) {
    padding-left: 24px;
  }
}

.subscriptions-menu-wrapper {
  @include rounded-border(5px, $white);
  position: absolute;
  top: 100%;
  min-width: 268px;
  padding-bottom: 16px;
  background-color: $white;
}

.subscriptions-menu:hover {
  border-color: $light-gray;
}

.subscription-button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 36px;
  z-index: 20;

  &:first-child {
    padding-left: 10px;
  }
}

.subscription-button-wrapper:first-child * {
  font-weight: 500;
}

.subscription-icon {
  $size: 22px;
  @include create-circle($size);
  min-width: $size;
  border: 1px solid $white;
  background-image: linear-gradient(135deg, $blue, $white, $blue);
}

.subscription-button,
.user-button:not(.subscription-button-wrapper, .subscription-icon) {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.user-button.subscription-icon {
  border-radius: unset;
}

.user-button.subscription-button {
  color: #1c1c1c;
}

.subscription-divider {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: $dark-gray;
}

.hidden {
  display: none;
}

.subscribed-origin-button {
  max-height: 21px;
}
