<%= react_component("TrendingPosts", {}, class: "trending-posts-container") %>
<div class="w-100"></div>
<%= react_component("PostFeed", {posts: @posts}, class: "postfeed col-sm-8" ) %>
<%= react_component("SideBar", {}, class: "col-sm-4") %>
