<%= react_component("TrendingPosts", {}, class: "trending-posts-container") %>
<div class="w-100"></div>
<div class="col-sm-1"></div>
<%= react_component("PostFeed", {posts: @posts}, class: "postfeed col-sm-8" ) %>
