<% content_for :head do %>
  <%= stylesheet_link_tag 'posts/posts_new',
      class: "page-specific",
      controller: controller.controller_name,
      action: controller.action_name %>
<% end %>
<div class="w-100"></div>
<%= react_component("NewPostEditor",
                    {originName: @origin_name},
                    class: "col-12 col-lg-8" ) %>
