<% content_for :head do %>
  <%= stylesheet_link_tag 'posts_show' %>
<% end %>
<div class="col-sm-8 ">
  <%= react_component("Post", {data: @post}, class: "post-container no-grey-side-area" ) %>
</div>
<%= react_component("SideBar", {}, class: "col-sm-3") %>
