@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin create-circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin rounded-corners(
  $height,
  $border,
  $width: 100%,
  $radius: $height * 0.75
) {
  width: $width;
  height: $height;
  border: 1px solid $border;
  border-radius: $radius;
}

@mixin centered-column() {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
