$margin-left: 17px;

.header {
  $side-padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding-top: 8px;
  padding-left: $side-padding;
  padding-right: $side-padding;
  background-color: #ffffff;

  > * {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}

.logo-container {
  font-weight: 700;
  font-size: 16px;

  .logo {
    @include create-circle(32px);
    background-color: #fe471c;
  }

  > p {
    align-self: center;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.header-search {
  max-width: 656px;
  width: 100%;
  height: 36px;
  margin-left: $margin-left;
  border: 1px solid $light-gray;
  border-radius: 3px;
  background-color: #f6f7f8;
}

.login-container {
  width: 245px;
  margin-left: $margin-left;
}

.login-button,
.signup-button {
  @include center-children();
  @include rounded-corners(32px, $blue, 120px);
  margin-left: $margin-left;
  font-weight: 700;
}

.login-button {
  color: $blue;
}

.signup-button {
  color: #ffffff;
  background-color: $blue;
}

.user-account-modal-wrapper {
  @include center-children();
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.parent.user-account-modal {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 850px;
  height: 650px;
  background-color: #ffffff;
}

.user-account-modal.exit-button {
  $size: 20px;
  $position: 15px;
  position: absolute;
  top: $position;
  right: $position - 10px;
  width: $size;
  height: $size;
}

/* First page of User Account Modal */

img.user-account-modal {
  width: 130px;
  height: 100%;
  background-color: #000000;
}

.account-forms-container.user-account-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 300px;
  margin-left: 20px;
}

.heading.user-account-modal {
  font-size: 16px;
  font-weight: 500;
}

.agreement-text.user-account-modal {
  font-size: 13px;
}

.user-account-modal.divider {
  display: flex;
  align-items: center;
  height: 74px;

  p {
    margin: 0 20px;
    line-height: 74px;
    font-size: 15px;
    font-weight: 600;
    color: #a0a3a4;
  }
}

.user-account-modal.divider.login {
  height: 42px;
}

.user-account-modal.divider::before,
.user-account-modal.divider::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $light-gray;
}

button.user-account-modal:not(.submit) {
  @include rounded-corners(52px, $blue, 100%, 5px);
  @include center-children();
  justify-content: flex-start;
  padding-left: 70px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $blue;
}

button.user-account-modal.top {
  margin-top: 45px;
}

button.user-account-modal.top.login {
  margin-top: 35px;
}

input.user-account-modal.first-page {
  @include rounded-corners(48px, #e2e2e2, 100%, 5px);
  height: 48px;
  padding-left: 10px;
  font-size: 12px;
}

input.user-account-modal.first-page[type="password"] {
  margin-top: 15px;
}

.user-account-modal.first-page.submit {
  @include rounded-corners(40px, $blue);
  margin-top: 10px;
  font-weight: 500;
  color: #ffffff;
  background-color: $blue;
}

.user-account-modal.link-text {
  font-size: 12px;
  margin-top: 10px;
}

.user-account-modal.link-text.login {
  margin-top: 25px;
}
/* end */

input.user-account-modal.first-page:valid,
.forms.signup.second-page input:valid {
  border: 1px solid $blue;
}

// input.signup.first-page:valid,
// .forms.signup.second-page input:invalid {
//   border-color: #f72210;
// }

input.user-account-modal.first-page:focus,
.forms.signup.second-page input:focus {
  outline-width: 0;
}

.user-container {
  width: 70px;
}
