$margin-left: 17px;

.header {
  $side-padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding-top: 8px;
  padding-left: $side-padding;
  padding-right: $side-padding;
  background-color: #ffffff;

  > * {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}

.logo-container {
  font-weight: 700;
  font-size: 16px;

  .logo {
    @include create-circle(32px);
    background-color: #fe471c;
  }

  > p {
    align-self: center;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.header-search {
  max-width: 656px;
  width: 100%;
  height: 36px;
  margin-left: $margin-left;
  border: 1px solid #edeff1;
  border-radius: 3px;
  background-color: #f6f7f8;
}

.login-container {
  $button-color: #0479cf;
  width: 245px;
  margin-left: $margin-left;

  > * {
    @include center-children();
    width: 120px;
    height: 32px;
    margin-left: $margin-left;
    border: 1px solid $button-color;
    border-radius: 24px;
    font-weight: 700;
  }

  > a:first-child {
    color: $button-color;
  }

  > a:nth-child(2) {
    color: #ffffff;
    background-color: $button-color;
  }
}

.user-container {
  width: 70px;
}
