@import "_variables", "_mixins";

body {
  background-color: #323232;
}

.content {
  background-color: #eeeeee;
  min-height: 100vh;
}

.post-details-container {
  width: 100%;
}

.post-content {
  height: calc(100% - 34px);
  margin-bottom: 17px;
  background-color: #ffffff;
}

.post-content-container {
  min-height: 100%;
  padding-left: 32px;
}

.post-container {
  border: unset;
}

.vertical-score-container {
  background-color: unset;
}

.comment-nesting-line {
  $margin: 10px;
  width: 2px;
  height: calc(100% - #{$margin});
  margin: $margin 0;
  background-color: $light-gray;

  &.editor {
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.comment-section {
  height: 100%;
  margin-top: 15px;
}

.comment {
  padding-right: 0;
  padding-left: 15px;

  &:not(.top-level) {
    padding-left: 21px;
  }
}

.comment-body,
.nested-comment-container,
.comment-container {
  display: flex;
  flex-flow: column nowrap;
}

.comment-container {
  flex-flow: row nowrap;
}

.post-editor-container {
  @include rounded-form(180px);
  width: 100%;
  margin-bottom: 8px;

  &.border {
    border: 1px solid #000000;
  }

  .editor-buttons-container {
    border-bottom: 1px solid #edeff1;
  }
}

textarea.post-editor {
  width: 100%;
  max-height: 149px;
  height: 136px;
  padding: 13px;
  &:focus {
    outline: none;
  }
}

.editor-buttons-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  background-color: #f6f7f8;
}

.submit.post-editor {
  @include rounded-corners(32px, $blue, 90px);
  font-weight: 500;
  background-color: $blue;
  color: $white;
}

.markdown-mode.post-editor {
  margin-left: auto;
  font-size: 13px;
  font-weight: 700;
  color: $blue;
}

.cancel.post-editor {
  $color: #ededed;
  width: 80px;
  height: 32px;

  &:hover {
    @include rounded-corners(32px, $color, 80px);
    background-color: $color;
  }
}

.submission-buttons.post-editor {
  display: flex;
  justify-content: flex-end;
  margin-left: 1px;
}
