div.sidebar {
  padding-top: 15px;
}

.community-info {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #ffffff;

  > * {
    padding: 0 12px;
    margin-bottom: 12px;
  }

  * {
    font-size: 15px;
  }
}

.community-info-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  margin-bottom: 0;
  // background-color: #0479cf;
  // color: #ffffff;

  p {
    font-weight: 500;
  }
}

.origin-statistics-container {
  display: flex;

  .statistic {
    flex-grow: 1;
  }

  p {
    font-size: 13px;
    font-weight: 500;
  }
}

$margin: 8px;

.origin-creation-date {
  margin-bottom: $margin;
}

button.sidebar {
  @include rounded-corners(32px, $blue);
  @include center-children();
  margin-bottom: $margin;
  font-weight: 500;
  background-color: $blue;
  color: #ffffff;
}

.community-miscellaneous::before,
.community-options-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: $margin;
  background-color: $light-gray;
}

.community-options {
  padding-left: 0;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
