/* General Rules */

* {
  box-sizing: border-box;
  border: unset;
  font-family: "IBM Plex Sans", "Ubuntu";
  src: url(font-path("IBMPlexSans-Regular.ttf"));
  color: black;
  background-color: unset;
  outline: 1px solid black;
  list-style-type: none;
}

body {
  background-color: #dae0e6;
}

a {
  text-decoration: none;
}

/* Alerts and Notices */

.alert,
.notice {
  max-width: 100%;
}

/* PostFeed Styles */

.postfeed {
  > li {
    min-height: 96px;
    width: auto;
    height: auto;
    margin-top: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
  }

  h1 {
    font-size: 20px;
  }
}

@media (max-width: 1070px) {
  .logo-text {
    display: none;
  }
}

@media (min-width: 1070px) {
  .logo-container {
    min-width: 134px;
  }
}
