@import "_variables", "_mixins", "user_sidebar";

.col-1,
.col-3 {
  height: 100%;
}

.secondary-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 41px;
  border-bottom: 1px solid $light-gray;
  background-color: $white;
}

.hover-outline:hover {
  outline: 1px solid #000000;
}

.header-tab {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;

  &.active {
    color: $blue;
    border-bottom: 2px solid $blue;
  }
}

.comment-preview-container {
  background-color: $white;
}

.comment-preview-header {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-top: 10px;
}

.comment-preview-tab {
  @include center-children();
  width: 36px;
}

.text-bubble {
  background-color: $gray;
}

.subtitle,
.subtitle *,
.poster-link {
  font-size: 12px;
  color: $gray;
}

.origin-link {
  font-weight: 700;
  color: #000000;
}

.user-link {
  color: $light-blue;
}

.dot-before::before,
p.poster-time:not(.post-details-container *)::before {
  $size: 2px;
  display: inline-block;
  content: "";
  width: $size;
  height: $size;
  margin: 0 4px 3px 4px;
  border-radius: 50%;
  background-color: #000000;
}

.origin-title {
  color: #000000;
}

.comment-preview-body {
  display: flex;
  padding: 10px 0;
}

div.comment-metadata {
  display: flex;
  flex-wrap: wrap;
}

.dotted-divider-wrapper {
  display: flex;
  width: 36px;
  min-height: 100%;
  justify-content: center;
  align-items: center;

  .dotted-divider {
    width: 2px;
    min-height: 100%;
    border-right: 2px dashed $light-gray;
  }

  &.nested {
    width: 25px;
    justify-content: flex-start;
  }
}

.comment-metadata.user-link {
  color: #000000;

  &.nested {
    font-weight: 600;
  }
}

.score {
  margin-left: 4px;
}

.comment-body {
  font-size: 14px;
}

.utility-buttons-container {
  font-size: 13px;

  button {
    margin: 0;
    margin-right: 8px;
    padding: 0;
    font-weight: 500;
    color: $gray;
  }
}
